*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Calibri, sans-serif;
    background-image: url("img/bg.jpg");
    min-height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-weght: normal;
    font-size: 4rem;
    margin-top: -22rem;
}

.countdown-container{
    display: flex;
}

.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown{
    text-align: center;
}

.countdown span{
    font-size: 1.3rem;
}